.wpsc-controller {
	.wpsc-alert {
		@extend .border-radius;
		border-width: 1px;
		border-style: solid;
		@include box-shadow(unquote("inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 5px rgba(0, 0, 0, 0.3)"));
		margin-bottom: 18px;
		padding: 10px 12px 12px;
		width: auto;

		p {
			margin: 0;
			+ p {
				margin-top: 12px;
			}
		}
	}
	.wpsc-alert,
	.wpsc-alert p {
		font-size: $font-size-m;
		text-shadow: rgba(255, 255, 255, 0.6) 0 1px 0;
	}
	@mixin wpsc-alert-type($type){
		$border-color-var: "alert-#{$type}-border-color" !default;
		$font-color-var: "alert-#{$type}-font-color" !default;
		$background-color-var: "alert-#{$type}-background-color" !default;

		border-color: $border-color-var;
		color: $font-color-var;
		background-color: $background-color-var;
	}
	.wpsc-alert-success {
		@include wpsc-alert-type(success);
	}
	.wpsc-alert-warning {
		@include wpsc-alert-type(warning);
	}
	.wpsc-alert-error {
		@include wpsc-alert-type(error);
	}
	.wpsc-alert-info {
		@include wpsc-alert-type(info);
	}
}
